
<%- include('../layouts/loggedheader'); -%>
<div class="row">
    <div class="col-3">
        <div class="d-flex flex-column"> 
            <%- include('../layouts/sidebar'); -%>
        </div>
    </div>
    <div class="col-6">
        <div class="card shadow m-3">
            <div class="card-header">
                <h3>Insights this month</h3>
            </div>
            <div class="card-body">
                <h5>Summary</h5>
                <p><%= insights.Summary %></p>
                <br/>
                
                <h5>Insight</h5>
                <p><%= insights.Insight %></p>
                <br/>

                <h5>Suggestions</h5>
                <p><%= insights.Suggestion %></p>
                <br/>
            </div>
        </div>
    </div>
</div>
<%- include('../layouts/floating-button') %>
<%- include('../layouts/footer'); -%>